// Place all the styles related to the BigBlueButton controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #F2F2F2;
$join-meeting-background: #EDF4FB;
$dark-grey: #42444C;
$icon-grey: #777;

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

h4 {
    font-size: 1.1em;
    font-weight: 700;
    color: #42444c;
    line-height: 2em;
}

p {
    color: #999;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 15px;
}

input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
    width: 85%;
}

.navbar {
    background: white;
    padding: 10px;
    margin-bottom: 60px;
    border-bottom: 1px $grey solid;
    text-align: center;
}

.logo {
    padding: 20px;
}

.main {
    background: #F5F5F5;
    color: #999;
    text-rendering: optimizeLegibility;

    // Hack to make div fill screen
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.container {
    background: white;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

%inner-div {
    padding: 60px;
    text-align: center;
    display: block;
    margin: auto;
}

.meetings {
    padding-bottom: 75px;
    border-bottom: 1px $grey solid;
}

.join-meeting {
    @extend %inner-div;
    background: $join-meeting-background;
    border: 1px solid rgba(0,0,0,0.1);
    width: 250px;
    height: 275px;
    border-radius: 8px;
}

.name-input {
    display: block;
    background: #fff;
    border: 1px solid #c7cdd1;
    border-radius: 3px;
    font-size: 14px;
    padding: 12px 18px;
    margin-bottom: 15px;
}

.submit-btn {
    background: #4DAF7C;
    color: white;
    margin-bottom: 20px;
    padding: 12px 45px;
    font-size: 1.1em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
}

.delete-btn {
    background: transparent;
    border: none;
    color: $icon-grey;
}

.error-message {
    color: red;
}

.recording-list {
    @extend %inner-div;
}

.recording-header {
    color: $dark-grey;
    padding: 20px;
}

.recordings-table {
    margin: auto;
    width: 75%;
    text-align: center;
    border-spacing: 7px;
}

th {
    margin-bottom: 30px;
    color: $dark-grey;
}

.col-1 {
    width: 35%;
}

.col-2 {
    width: 35%;
}

.col-3 {
    width: 20%;
}

.col-4 {
    width: 10%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.grey-link {
    color: $icon-grey;
}